- comment = Comment.new
= simple_form_for([@project, @requirement, comment], remote: true) do |f|
  .field
    = f.input :body, label: false
    = f.button :submit, 'Comentar', class: 'btn btn-primary btn-long'
