.nav-side-menu
  .brand
    (Logo)
  %i.fa.fa-bars.fa-2x.toggle-btn{'data-target': '#menu-content', 'data-toggle': 'collapse'}
  .menu-list
    %ul#menu-content.menu-content.collapse.out

      -if current_user.avatar.blank?
        = image_tag('user-no-avatar', class: 'avatar')
      -else
        = image_tag(current_user.avatar.url(:thumb), class: 'avatar')

      -unless current_user.first_name.blank? || current_user.last_name.blank?
        %h5.text-center= current_user.full_name

      %h5.text-center= current_user.user_role

      %hr

      =link_to(projects_path) do
        %li{class: ('active' if action_name == 'index')}
          =icon('folder-open')
          Proyectos activos
      =link_to(archived_projects_path) do
        %li{class: ('active' if action_name == 'index_archived')}
          =icon('folder')
          Proyectos archivados
      =link_to(new_project_path) do
        %li{class: ('active' if action_name == 'new')}
          =icon('plus')
          Nuevo proyecto
      =link_to(edit_user_registration_path) do
        %li
          =icon('user')
          Perfil
      =link_to(destroy_user_session_path, method: :delete) do
        %li
          =icon('sign-out')
          Cerrar sesión
    %footer
      Req on Rails © Guillermo Mora, 2017

