%td{colspan: 4}
  = simple_form_for([@project, @keyword]) do |f|
    .row
      .col-md-5.form-group
        = f.input :key, label: false, placeholder: 'Nueva clave'
      .col-md-5.form-group
        = f.input :definition, as: :string, label: false, placeholder: 'Nueva definicion'
      .col-md-2.actions
        = f.button :submit, 'Guardar', class: 'btn-primary w-100'