@import "bootstrap";
@import "comments";
@import "requirements";
@import "keywords";
@import "projects";
@import "devise";
@import "project_sidebar";
@import "font-awesome-sprockets";
@import "font-awesome";

$red: #B00100;

html, body {
  margin: 0;
  padding: 0;
  font-family: verdana, sans-serif;
  font-size: 15px;
  width: 100%;
  height: 100%;
}

.no-margin{
  margin: 0;
}

.no-padding{
  padding: 0;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.error, .help-block{
  color: $red;
}

.required{
  abbr{
    color: $red;
  }
}