.comment_body{
  margin: 0;
}

.btn-long{
  width:100%;
}

#comments-list{
  word-wrap: break-word;
  overflow-y: scroll;
  height: 80%;
  padding: 5px;
  border-bottom: 1px solid #666;
  margin-bottom: 10px;
}

#comments-form{
  height: 20%;
}

#commentstab, .tab-content{
  height: 100%;
  width: 100%;
}

