.comment_body{
  margin: 0;
}

.btn-long{
  width:100%;
}

#comments-list{
  word-wrap: break-word;
  overflow-y: hidden;
  height: 80%;
  padding: 5px;
  margin-bottom: 3px;
}

#comments-form{
  height: 20%;
}

#commentstab, .tab-content{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

#trello-tab{
  textarea{
    width: 100%;
    height: 200px;
  }
  #btn-trello{
    width: 100%;
    color: white;
  }
}