$header-height: 80px;
$sidebar-width: 200px;

.keywords {
  background: #ffffff;
  float: left;
  height: calc(100% - #{$header-height});
  overflow-x: scroll;
  overflow-y: scroll;
  width: calc(100% - 2*#{$sidebar-width});
}

.new-keyword{
  .form-group{
    margin: 0;
  }
  input, textarea{
    border: none;
    margin: 0;
  }
}