$header-height: 80px;
$sidebar-width: 200px;

$primary-color: #e9e9e9;
$secondary-color: #2e353d;
$light: #ccc;
$dark: #666666;
$hihglight: #F2F2C0;


#header {
  height: $header-height;
  background-color: $secondary-color;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  .row{
    height: 100%;
  }
  margin-bottom:10px;
  box-shadow: 0 5px 10px #888888;
}

#wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

#left-side-menu {
  background: $primary-color;
  width: 200px;
  float: left;
  height: calc(100% - #{$header-height});
  overflow-y: scroll;
  padding-top: 20px;
  padding-bottom: 20px;
  ul{
    margin: 0;
    list-style: none; line-height: 2em;
    li{
      font-size: 16px;
      position: relative;
      &:before{
        position: absolute;
        left: -15px;
        top: 0;
        content: '';
        display: block;
        border-left: 1px solid #333;
        height: 1em;
        border-bottom: 1px solid #333;
        width: 10px;
      }
      &:after{
        position: absolute;
        left: -15px;
        bottom: -7px;
        content: '';
        display: block;
        border-left: 1px solid #333;
        height: 100%;
      }
      &.root{
        margin: 0 0 0 -20px;
        &:before{
          display: none;
        }
        &:after{
          display: none;
        }
      }
      &:last-child{
        &:after{ display: none }
      }
    }
  }
}

#right-side-menu {
  background: $primary-color;
  width: 200px;
  float: left;
  height: calc(100% - #{$header-height});
  overflow-y: hidden;
}

#requirements {
  float: left;
  background: #ffffff;
  height: calc(100% - #{$header-height});
  overflow-y: scroll;
  width: calc(100% - 2*#{$sidebar-width});
  overflow-x: scroll;
}

a{
  &:hover{
    text-decoration: none;
  }
  &:active{
    text-decoration: none;
  }
}

.highlight {
  background-color: $hihglight;
}

#requirements-modal-form{
  .modal-dialog{
    max-width:600px;
  }
}

#submit-search{
  width: 100%;
}