.nav-side-menu
  .brand
    (Logo)
  %i.fa.fa-bars.fa-2x.toggle-btn{'data-target': '#menu-content', 'data-toggle': 'collapse'}
  .menu-list
    %ul#menu-content.menu-content.collapse.out

      -if current_user.avatar.blank?
        = image_tag(image_url('user-no-avatar.png'), class: 'avatar')
      -else
        = image_tag(current_user.avatar.url(:thumb), class: 'avatar')

      -unless current_user.first_name.blank? || current_user.last_name.blank?
        %h5.text-center= current_user.full_name

      %h5.text-center= current_user.user_role

      %hr

      =link_to(projects_path) do
        %li
          =icon('folder-open')
          Proyectos activos
      =link_to(archived_projects_path) do
        %li
          =icon('folder')
          Proyectos archivados
      - if can? :create, Project
        =link_to(new_project_path) do
          %li
            =icon('plus')
            Nuevo proyecto
      - if can? :read, Log
        =link_to(logs_path) do
          %li.active
            =icon('file-o')
            Registro de acciones
      =link_to(edit_user_registration_path) do
        %li
          =icon('user')
          Perfil
      =link_to(destroy_user_session_path, method: :delete) do
        %li
          =icon('sign-out')
          Cerrar sesión
    %footer
      üReq © Guillermo Mora, 2017

